{
    "extends": [
        "@vue/standard",
        "@vue/typescript/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:vue/vue3-essential",
    ],
    "parserOptions": {
        "project": [
            "./tsconfig.json"
        ]
    },
    "rules": {
        "no-useless-constructor": "off",
        "@typescript-eslint/no-useless-constructor": "error",
        "no-dupe-class-members": "off",
        "no-void": "off",
        "@typescript-eslint/no-dupe-class-members": "error",
        "@typescript-eslint/no-floating-promises": "warn",
        "@typescript-eslint/member-delimiter-style": "warn",
        "@typescript-eslint/ban-ts-comment": "warn",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/prefer-regexp-exec": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-var-requires": "off",
        "no-trailing-spaces": [
            "error",
            {
                "ignoreComments": true
            }
        ],
        "comma-dangle": [
            "warn",
            "always-multiline"
        ]
    },
    "env": {
        "jest": true
    }
}